@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
	<h3>Заметки</h3>
	<table class="table-responsive">
		<tr>
			<td><p>Заметка</p></td>
			<td><p>Статус</p></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		@if (ViewBag.Tasks != null)
		{
			foreach (var t in ViewBag.Tasks)
			{
				<tr>
					<td><p>@t.Text</p></td>
					<td><p>@t.IsFinished()</p></td>
					<td><p><a href="/Home/Finish/@t.ID">Изменить статус</a></p></td>
					<td><p><a href="/Home/Edit/@t.ID">Изменить текст</a></p></td>
					<td><p><a href="/Home/Delete/@t.ID">Удалить</a></p></td>

				</tr>
			}
		}
	</table>
</div>
<div>
	<h3>Добавить заметку</h3>
	<form method="post" action="/Home/Add">
		<table>
			<tr>
				<td><p>Введите текст заметки :</p></td>
				<td>
					<input type="text" name="TaskText" />
				</td>
			</tr>
			<tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
		</table>
	</form>
</div>

